body {
	width: 800px;
	margin: auto;
}

h1 {
	text-align: center;
	font-family: verdana, arial;
	text-decoration: underline;
	color: lightblue;
}

.hide {
	display: none;
}


img {
	float: left;
	cursor: pointer;
}